<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}MyBookStore · Órdenes{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header class="container">
  <h1><a href="/order/">MyBookStore</a> · Órdenes</h1>
  <nav>
    <a href="/order/">Crear orden</a>
    <a href="/order/status">Ver estado</a>
    <a href="/catalog/">Catálogo</a>
    <a href="/cart/">Carrito</a>
    <a href="/inventory/">Inventario</a>
  </nav>
</header>

<main class="container">
  {{ block "content" . }}{{ end }}
</main>

<footer class="container foot">
  <small>Proyecto · gRPC (sincrónico) + RabbitMQ (asíncrono)</small>
</footer>
</body>
</html>
